base(href='')
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=4.0 initial-scale=1.0')

meta(name='title', content='Todoed')
meta(name='description' content='Todoed is a productivity assistant, assisting the user as if everything thought, typed and/or spotted anywhere or on any device is a delegate-able todo item first.')
meta(name='author' content='Florian Menevis, Nishchal Kersawani, Raj Roy')		
title Todoed
link(rel='icon' href='favicon.ico' typetr='image/x-icon')
//iOS Bookmarking
meta(name='apple-mobile-web-app-capable', content='no')
link(rel='apple-touch-icon-precomposed', href='img/appicn.png')
// Facebook Open Graph
meta(property='og:image', content='')
meta(property='og:title', content='Todoed')
meta(property='og:description', content='Todoed is a productivity assistant, assisting the user as if everything thought, typed and/or spotted anywhere or on any device is a delegate-able todo item first.')
meta(property='og:type', content='website')
meta(property='og:url', content='http://todoed.co/')
// Stlye
link(rel='stylesheet', href='css/style.css', type='text/css')

//JS


// Integrations
